[project]
	description = Just to test 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brijesh (saibiju)
[access "refs/for/refs/*"]
	read = group user/Brijesh (saibiju)
	push = group user/Brijesh (saibiju)
	label-Code-Review = -2..+2 group user/Brijesh (saibiju)
	label-Verified = -1..+1 group user/Brijesh (saibiju)
	rebase = group user/Brijesh (saibiju)
	removeReviewer = group user/Brijesh (saibiju)
	submit = group user/Brijesh (saibiju)
[access "refs/heads/*"]
	read = group user/Brijesh (saibiju)
	create = group user/Brijesh (saibiju)
	push = +force group user/Brijesh (saibiju)
	pushMerge = group user/Brijesh (saibiju)
[access "refs/tags/*"]
	push = +force group user/Brijesh (saibiju)
	pushTag = group user/Brijesh (saibiju)
	pushSignedTag = group user/Brijesh (saibiju)
